@import "../../styles/mixins.scss";

.paper {
  background: var(--background-flat-primary, $color-bnw-1000);
  @include radius-l;
  // Sizes
  &.full {
    width: 100%;
    height: 100%;
  }
  // Paddings
  &.xl {
    padding: 60px;
    @media (max-width: $device-tablet-max) {
      padding: 40px;
    }
    @media (max-width: $device-mobile-max) {
      padding: 30px 18px;
    }
  }
  &.l {
    padding: 32px;
    @media (max-width: $device-tablet-max) {
      padding: 18px;
    }
  }
  &.m {
    padding: 24px;
    @media (max-width: $device-tablet-max) {
      padding: 18px;
    }
  }
  &.s {
    padding: 18px;
  }
  &.none {
    padding: 0;
  }
}
