@import "@/styles/mixins";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none !important;
  -webkit-tap-highlight-color: transparent;
}

:after, :before {
  box-sizing: border-box;
}

::selection {
  background: $color-sky-450;
  color: #fff;
}

html {
  height: 100%;
}

body {
  min-width: 320px;
  height: 100%;
  min-height: 100%;
  background: var(--background-surface, $color-bnw-950);
  line-height: var(--line-height-body, 1.3);
  font-family: 'Golos', sans-serif;
  @include body-s;
  color: var(--content-flat-primary, $color-bnw-50);
  @media (max-width: $device-tablet-max){
    line-height: var(--line-height-body-mobile, 1.2);
  }
  &.mode-modal{
    overflow: hidden;
  }
}

video, form, small {
  display: block;
}

table {
  width: 100%;
  border-collapse: collapse;
  th{
    font-weight: 400;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
}

b, strong {
  font-weight: 400;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
  @include transition;
  -webkit-touch-callout: none;
  &:focus {
    text-decoration: none;
  }
  &:hover {
    text-decoration: none;
  }
}

label {
  display: block;
  font-weight: 400;
}

select {
  background: none;
  border: none;
  box-shadow: none;
  letter-spacing: inherit;
  line-height: inherit;
  font-family: inherit;
  font-size: inherit;
  font-weight: 400;
  @include transition;
}

textarea {
  background: none;
  border: none;
  box-shadow: none;
  resize: none;
  letter-spacing: inherit;
  line-height: inherit;
  font-family: inherit;
  font-size: inherit;
  font-weight: 400;
  color: inherit;
  @include transition;
}

input {
  background: none;
  border: none;
  box-shadow: none;
  letter-spacing: inherit;
  line-height: inherit;
  font-family: inherit;
  font-size: inherit;
  font-weight: 400;
  color: inherit;
  @include transition;
}

button {
  background: none;
  border: none;
  box-shadow: none;
  letter-spacing: inherit;
  font-family: inherit;
  font-size: inherit;
  font-weight: 400;
  color: inherit;
  @include transition;
  cursor: pointer;
  text-decoration: none !important;
  -webkit-touch-callout: none;
}

.docs-story {
  background: var(--background-surface, $color-bnw-950);
}

@include fade(300);
@include fade(400);
@include fade(500);

.collapse-css-transition {
  @include transition;
}

.anchor-100{
  position: absolute;
  top: -100px;
  @media (max-width: $device-tablet-max){
    top: -64px;
  }
}
