@import "variables";

$theme: (

  content-flat-primary: (
    light-theme: $color-bnw-50,
    dark-theme: $color-bnw-950,
  ),
  content-flat-secondary: (
    light-theme: $color-bnw-500,
    dark-theme: $color-bnw-750,
  ),
  content-flat-accent: (
    light-theme: $color-sun-550,
    dark-theme: $color-sun-650,
  ),
  content-flat-error: (
    light-theme: $color-error-500,
    dark-theme: $color-error-650,
  ),
  content-flat-primary-constant: (
    light-theme: $color-bnw-50,
    dark-theme: $color-bnw-50,
  ),
  content-flat-secondary-constant: (
    light-theme: $color-bnw-500,
    dark-theme: $color-bnw-500,
  ),
  content-flat-tertiary-constant: (
    light-theme: $color-bnw-1000,
    dark-theme: $color-bnw-950,
  ),

  content-action-primary-default: (
    light-theme: $color-bnw-50,
    dark-theme: $color-bnw-950,
  ),
  content-action-primary-hover: (
    light-theme: $color-sun-500,
    dark-theme: $color-sun-650,
  ),
  content-action-primary-active: (
    light-theme: $color-sun-550,
    dark-theme: $color-sun-600,
  ),
  content-action-primary-pressed: (
    light-theme: $color-sun-450,
    dark-theme: $color-sun-700,
  ),
  content-action-primary-disabled: (
    light-theme: $color-bnw-750,
    dark-theme: $color-bnw-500,
  ),

  content-action-secondary-default: (
    light-theme: $color-bnw-500,
    dark-theme: $color-bnw-750,
  ),
  content-action-secondary-hover: (
    light-theme: $color-sun-500,
    dark-theme: $color-sun-650,
  ),
  content-action-secondary-active: (
    light-theme: $color-sun-550,
    dark-theme: $color-sun-600,
  ),
  content-action-secondary-pressed: (
    light-theme: $color-sun-450,
    dark-theme: $color-sun-700,
  ),
  content-action-secondary-disabled: (
    light-theme: $color-bnw-750,
    dark-theme: $color-bnw-500,
  ),

  content-action-accent-default: (
    light-theme: $color-sun-550,
    dark-theme: $color-sun-600,
  ),
  content-action-accent-hover: (
    light-theme: $color-sun-500,
    dark-theme: $color-sun-650,
  ),
  content-action-accent-pressed: (
    light-theme: $color-sun-450,
    dark-theme: $color-sun-700,
  ),
  content-action-accent-disabled: (
    light-theme: $color-bnw-750,
    dark-theme: $color-bnw-500,
  ),

  background-surface: (
    light-theme: $color-bnw-950,
    dark-theme: $color-bnw-50,
  ),
  background-skeleton: (
    light-theme: $color-bnw-800,
    dark-theme: $color-bnw-450,
  ),

  background-flat-primary: (
    light-theme: $color-bnw-1000,
    dark-theme: $color-bnw-250,
  ),
  background-flat-primary-transparent: (
    light-theme: fade-out($color-bnw-1000, 1),
    dark-theme: fade-out($color-bnw-250, 1),
  ),
  background-flat-secondary: (
    light-theme: $color-bnw-950,
    dark-theme: $color-bnw-450,
  ),
  background-flat-tertiary: (
    light-theme: $color-bnw-1000,
    dark-theme: $color-bnw-350,
  ),
  background-flat-tertiary-constant: (
    light-theme: $color-bnw-1000,
    dark-theme: $color-bnw-950,
  ),
  background-flat-accent-sky: (
    light-theme: $color-sky-350,
    dark-theme: $color-sky-450,
  ),
  background-flat-accent-success: (
    light-theme: $color-success-450,
    dark-theme: $color-success-500,
  ),
  background-flat-accent-gray: (
    light-theme: $color-bnw-500,
    dark-theme: $color-bnw-500,
  ),
  background-flat-additional: (
    light-theme: $color-sky-900,
    dark-theme: $color-bnw-350,
  ),

  background-action-primary-default: (
    light-theme: $color-sky-350,
    dark-theme: $color-sky-450,
  ),
  background-action-primary-hover: (
    light-theme: $color-sky-300,
    dark-theme: $color-sky-400,
  ),
  background-action-primary-active: (
    light-theme: $color-sky-400,
    dark-theme: $color-sky-400,
  ),
  background-action-primary-pressed: (
    light-theme: $color-sky-250,
    dark-theme: $color-sky-350,
  ),
  background-action-primary-disabled: (
    light-theme: $color-sky-900,
    dark-theme: $color-bnw-500,
  ),

  background-action-secondary-default: (
    light-theme: $color-sun-550,
    dark-theme: $color-sun-550,
  ),
  background-action-secondary-hover: (
    light-theme: $color-sun-500,
    dark-theme: $color-sun-600,
  ),
  background-action-secondary-pressed: (
    light-theme: $color-sun-450,
    dark-theme: $color-sun-650,
  ),
  background-action-secondary-disabled: (
    light-theme: $color-sun-850,
    dark-theme: $color-bnw-500,
  ),

  border-primary: (
    light-theme: $color-bnw-950,
    dark-theme: $color-bnw-500,
  ),
  border-secondary: (
    light-theme: $color-bnw-750,
    dark-theme: $color-bnw-500,
  ),
  border-error: (
    light-theme: $color-error-500,
    dark-theme: $color-error-650,
  ),

  shadow-basic: (
    light-theme: '0 5px 24px 0 rgba(43, 44, 132, 0.11)',
    dark-theme: '0 5px 24px 0 rgba(139, 139, 140, 0.11)',
  ),
  shadow-basic-reverse: (
    light-theme: '0 -5px 24px 0 rgba(43, 44, 132, 0.11)',
    dark-theme: '0 -5px 24px 0 rgba(139, 139, 140, 0.11)',
  ),

  logo: (
    light-theme: 'url(/images/logo.svg) 0 50% no-repeat',
    dark-theme: 'url(/images/logo-white.svg) 0 50% no-repeat',
  ),

  exception-bnw50-bnw50: (
    light-theme: $color-bnw-50,
    dark-theme: $color-bnw-50,
  ),
  exception-bnw50-bnw950: (
    light-theme: $color-bnw-50,
    dark-theme: $color-bnw-950,
  ),
  exception-bnw750-bnw750: (
    light-theme: $color-bnw-750,
    dark-theme: $color-bnw-750,
  ),
  exception-bnw950-bnw500: (
    light-theme: $color-bnw-950,
    dark-theme: $color-bnw-500,
  ),
  exception-bnw1000-bnw950: (
    light-theme: $color-bnw-1000,
    dark-theme: $color-bnw-950,
  ),
  exception-bnw1000-bnw750: (
    light-theme: $color-bnw-1000,
    dark-theme: $color-bnw-750,
  ),
  exception-bnw1000-bnw500: (
    light-theme: $color-bnw-1000,
    dark-theme: $color-bnw-500,
  ),
  exception-sun500-sun600: (
    light-theme: $color-sun-500,
    dark-theme: $color-sun-600,
  ),

);
