// Colors
$color-bnw-50: #050506;
$color-bnw-100: #0c0c0e;
$color-bnw-250: #2b2c30;
$color-bnw-350: #35383d;
$color-bnw-450: #41434a;
$color-bnw-500: #595c66;
$color-bnw-750: #ced0d4;
$color-bnw-800: #d9dbdd;
$color-bnw-950: #f2f2f2;
$color-bnw-1000: #fff;

$color-sun-450: #cf4c12;
$color-sun-500: #ea5614;
$color-sun-550: #ed6b30;
$color-sun-600: #f07f4c;
$color-sun-650: #f29368;
$color-sun-700: #ffa57a;
$color-sun-850: #fbe1d5;

$color-sky-250: #1c1c55;
$color-sky-300: #23246c;
$color-sky-350: #2b2c84;
$color-sky-400: #32339a;
$color-sky-450: #4142b1;
$color-sky-900: #ececf9;

$color-success-450: #88ab31;
$color-success-500: #89a14f;
$color-success-850: #edf5db;

$color-error-500: #db2436;
$color-error-650: #e8737e;

// Radiuses
$radius-l: 15px;
$radius-m: 12px;
$radius-s: 9px;
$radius-xs: 3px;

// Devices
$device-phone-max: 374px;

$device-mobile-min: 375px;
$device-mobile-mid: 540px;
$device-mobile-max: 767px;

$device-tablet-min: 768px;
$device-tablet-max: 1219px;

$device-laptop-min: 1220px;
$device-laptop-max: 1399px;

$device-desktop-min: 1400px;
$device-desktop-max: 1920px;
