@import "../../styles//mixins.scss";

@mixin margin-top {
  margin-top: 64px;
  @media (max-width: $device-tablet-max) {
    margin-top: 32px;
  }
  &:first-child {
    margin-top: 0;
  }
}

.typography {
  word-break: break-word;
  &.display-l {
    @include display-l;
  }
  &.display-m {
    @include display-m;
  }
  &.display-s {
    @include display-s;
  }
  &.body-l {
    @include body-l;
  }
  &.body-m {
    @include body-m;
  }
  &.body-s {
    @include body-s;
  }
  &.body-xs {
    @include body-xs;
  }
  &.sun {
    color: var(--content-flat-accent, $color-sun-550);
  }
  &.gray {
    color: var(--content-flat-secondary, $color-bnw-500);
  }
  &.error {
    color: var(--content-flat-error, $color-error-500);
  }
}
.textual {
  overflow: hidden;
  * {
    font-family: "Golos", sans-serif !important;
  }
  a {
    color: var(--content-action-accent-default, $color-sun-550) !important;
    &:hover {
      color: var(--content-action-accent-hover, $color-sun-500) !important;
    }
    &:active {
      color: var(--content-action-accent-pressed, $color-sun-450) !important;
    }
  }
  div,
  p,
  small,
  ul,
  ol,
  q,
  blockquote,
  img,
  table {
    margin-top: 24px;
    @media (max-width: $device-tablet-max) {
      margin-top: 15px;
    }
    &:first-child {
      margin-top: 0;
    }
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @include margin-top;
  }
  h1 {
    @include display-l;
  }
  h2 {
    @include display-m;
  }
  h3 {
    @include display-s;
  }
  h4 {
    @include body-l;
  }
  h5 {
    @include body-m;
  }
  h6 {
    @include body-s;
  }
  b,
  strong {
    font-weight: 600;
  }
  ul,
  ol {
    ul,
    ol {
      margin-top: 12px;
      &:first-child {
        margin-top: 12px;
      }
    }
  }
  ul,
  ol {
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding-left: 36px;
    @media (max-width: $device-tablet-max) {
      padding-left: 32px;
    }
    @media (max-width: $device-mobile-max) {
      padding-left: 28px;
    }
  }
  table {
    @include body-s;
    th {
      text-align: left;
      @include body-xs;
      color: var(--content-flat-secondary, $color-bnw-500);
    }
    th,
    td {
      min-width: 164px;
      padding: 15px;
      @media (max-width: $device-tablet-max) {
        min-width: 116px;
        padding: 9px;
      }
      &:first-child {
        min-width: 350px;
        padding-left: 30px;
        @media (max-width: $device-tablet-max) {
          min-width: 165px;
          padding-left: 24px;
        }
        @media (max-width: $device-phone-max) {
          padding-left: 20px;
        }
      }
      &:last-child {
        padding-right: 30px;
        @media (max-width: $device-tablet-max) {
          padding-right: 24px;
        }
        @media (max-width: $device-phone-max) {
          padding-right: 20px;
        }
      }
    }
    tr {
      border-bottom: 1px solid var(--border-primary, $color-bnw-950);
    }
    tfoot {
      td {
        @include body-xs;
        color: var(--content-flat-secondary, $color-bnw-500);
      }
    }
  }
  img {
    display: block;
    width: 100%;
    border-radius: $radius-m;
    object-fit: cover;
  }
  small {
    @include body-s;
    color: var(--content-flat-secondary, $color-bnw-500);
  }
  video,
  iframe {
    display: block;
    width: 100%;
    height: 400px;
    @include margin-top;
    border-radius: $radius-m;
    @media (max-width: $device-tablet-max) {
      height: 300px;
    }
    @media (max-width: $device-mobile-max) {
      height: 200px;
    }
    @media (max-width: $device-phone-max) {
      height: 180px;
    }
  }
  :global(.texteditor-quote) {
    display: flex;
    flex-direction: column;
    gap: 24px;
    @include margin-top;
    padding: 15px;
    background: var(--background-flat-additional, $color-sky-900);
    border-radius: $radius-m;
    &:global(__author) {
      display: flex;
      gap: 15px;
      margin-top: 0;
    }
    &:global(__avatar) {
      display: block;
      flex-shrink: 0;
      align-self: flex-start;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      object-fit: cover;
      @media (max-width: $device-tablet-max) {
        width: 30px;
        height: 30px;
      }
    }
    &:global(__content) {
      display: flex;
      flex-direction: column;
      gap: 4px;
      margin-top: 0;
    }
    &:global(__name) {
      @include body-s;
    }
    &:global(__position) {
      margin-top: 0;
      @include body-xs;
    }
  }
  :global(.texteditor-table) {
    @include margin-top;
    border: 1px solid var(--border-secondary, $color-bnw-750);
    @include radius-s;
    &:global(__header) {
      display: flex;
      flex-direction: column;
      gap: 15px;
      padding: 30px;
      @media (max-width: $device-tablet-max) {
        gap: 9px;
        padding: 24px;
      }
      @media (max-width: $device-phone-max) {
        padding: 24px 20px;
      }
      h1,
      h2,
      h3,
      h4,
      h5,
      h6,
      p,
      div {
        margin-top: 0;
      }
      h6 {
        color: var(--content-flat-secondary, $color-bnw-500);
      }
    }
    &:global(__body) {
      margin-top: 0;
      @include scrollbar-x;
      table {
        width: auto;
        min-width: 100%;
        word-break: initial;
      }
    }
    &:global(__footer) {
      margin-top: 0;
      padding: 24px 30px;
      @include body-xs;
      color: var(--content-flat-secondary, $color-bnw-500);
      @media (max-width: $device-tablet-max) {
        padding: 15px 24px;
      }
      @media (max-width: $device-phone-max) {
        padding: 15px 20px;
      }
      h1,
      h2,
      h3,
      h4,
      h5,
      h6,
      p,
      div {
        margin-top: 0;
      }
    }
  }
  :global(.texteditor-image) {
    display: flex;
    flex-direction: column;
    gap: 15px;
    @include margin-top;
    @include body-s;
    color: var(--content-flat-secondary, $color-bnw-500);
    @media (max-width: $device-tablet-max) {
      gap: 12px;
    }
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p,
    div {
      margin-top: 0;
    }
  }
  [style*="fixed"] {
    position: absolute !important;
  }
}
